@using WCMS.Data;
@using PagedList.Mvc;


@model PagedList.IPagedList<WCMS.Data.PopupData>

<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>


<title>Image Searh List</title>

<div class="container">
    @using (Html.BeginForm("PopupList",
                        "Popup",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="col-sm-1">
                            <label for="" class="col-form-label">Keyword:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="keyword" class="form-control" placeholder="please popup keyword">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="col-form-label">Expiration Date:</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="txt_startDate" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            ~
                        </div>
                        <div class="col-sm-2">
                            <input type="text" id="txt_endDate" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12">
                        <div class="col-sm-1">
                            <label for="" class="col-form-label">JoinMember:</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="sel_multiMember" multiple="multiple">
                                @foreach (var member in ViewBag.Members)
                                {
                                    <option value="@member.memberNo">@member.memberName</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="col-form-label">Popup Type:</label>
                        </div>
                        <div class="col-sm-2">
                            <select class="custom-select " id="sel_imageSize" >
                                <option value="A">All</option>
                                <option value="D">Thumbnail</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">idx </th>
                        <th scope="col">title </th>
                        <th scope="col">Expiration Date</th>
                        <th scope="col">Join Member</th>
                        <th scope="col">Popup Type</th>
                        <th scope="col">Descript</th>
                        <th scope="col">RegDate</th>
                        <th scope="col">RegUser</th>
                        <th scope="col">ModDate</th>
                        <th scope="col">ModUser</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var image in Model)
                        {
                            <tr>

                                <td class="table-light">
                                    <div class="checkbox" style="word-spacing:30px;">
                                        <label class="checkbox-inline">
                                            <input name="chk_image" type="checkbox" value="@image.idx" title="@image.imageName" alt="@image.imagePath.Replace("D:\\","hasys.image.com\\")" />
                                        </label>
                                    </div>
                                </td>
                                <td class="table-light">

                                    <a href="#" onclick='javascript:RendModalData(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(image) as String));' data-toggle="modal" data-target="#myModal">@image.imageName</a>
                                </td>
                                <td class="table-light">@image.imageSize</td>
                                <td class="table-light">@image.imageKeyword</td>
                                <td class="table-light">@image.regDate</td>
                                <td class="table-light">@image.regUser</td>
                                <td class="table-light">@image.modDate</td>
                                <td class="table-light">@image.modUser</td>
                                <td class="table-light">
                                    <a href="#" onclick='javascript: RendImage("@Url.Action("GetImage", new { idx = @image.idx })");'>
                                        <img src="@Url.Action("GetImage", new { idx = @image.idx })" style="width: 100px;" alt="imagePreview" class="img-responsive center-block" />
                                    </a>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
            <div class="text-center">
                <form method="post" id="form_addPopup" action='/Popup/PopupUpdate'>
                    <input type="hidden" name="ImageLinks" id="hid_imageLink" />
                </form>
                <div class="col-md-12" style="float:right">
                    <input type="button" class="btn btn-primary pull-right" value="UpdatePopup" onclick="javascript: AddPopupImage();">
                    <input type="button" class="btn btn-primary pull-right" value="Delete" onclick="javascript: DeleteImage();">
                </div>
                <ul class="pagination">
                    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("PopupList", new { page }))*@
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Image Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hid_idx" />
                    <div class="form-group">
                        <label for="txt_imageName" class="col-form-label">ImageName:</label>
                        <input type="text" class="form-control" id="txt_imageName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="sel_imageSize" class="col-form-label">ImageSize:</label>
                        <select class="custom-select" id="sel_imageSize">
                            <option value="N">Normal</option>
                            <option value="T">Thumbnail</option>
                            <option value="B">Big</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txt_imageKeywod" class="col-form-label">ImageKeywod:</label>
                        <input type="text" class="form-control" id="txt_imageKeywod">
                    </div>
                    <div class="form-group">
                        <label for="sel_useYn" class="col-form-label">UseYN:</label>
                        <select class="custom-select" id="sel_useYn">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">RegDate:</label>
                        <input type="text" class="form-control" id="txt_regDate" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">RegUser:</label>
                        <input type="text" class="form-control" id="txt_regUser" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ModDate:</label>
                        <input type="text" class="form-control" id="txt_modDate" disabled>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ModUser:</label>
                        <input type="text" class="form-control" id="txt_modUser" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript: ImageUpdate();">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        z-index: 1050;
    }

    .modal {
        z-index: 1060;
    }

    .ui-autocomplete {
        z-index: 9999 !important;
        max-height: 300px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>
<script>

    $(document).ready(function () {
        $('#sel_multiMember').multiselect({
            buttonWidth: '350px',
            includeSelectAllOption: true,
            nonSelectedText: 'Select an Option'
        });
    });

    $('#txt_endDate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>'
    });

    $('#txt_startDate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
    });

</script>